@model ML.Usuario
@{
    ViewData["Title"] = "Recuperar password";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Recuperar password</title>
    <link rel="stylesheet" type="text/css" href="/css/StyleSheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="singup">
            @using (Html.BeginForm("EmailContraseña", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <label for="chk" aria-hidden="true">Recuperar Contraseña</label>
                <input type="email" name="Email" placeholder="Ingrese el email de recuperación" required="">
                <button type="submit">Enviar</button>
            }
        </div>
    </div>
</body>

</html>
