@model ML.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido</title>
    <link rel="stylesheet" type="text/css" href="/css/StyleSheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            @using (Html.BeginForm("Login", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <label for="chk" aria-hidden="true">Registrarse</label>
                <input type="text" name="UserName" placeholder="User name" required="">
                <input type="text" name="Nombre" placeholder="Nombre" required="">
                <input type="text" name="ApellidoPaterno" placeholder="Apellido Paterno" required="">         
                <input type="email" name="Correo" placeholder="Email" required="">
                <input type="password" name="password" placeholder="Password" required="">
                <button type="submit">Registrarse</button>
            }
        </div>
        <br>
        <br>

        <div class="login">
            @using (Html.BeginForm("Login", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <label for="chk" aria-hidden="true">Login</label>
                <input type="email" name="Correo" placeholder="Email" required="">
                <input type="password" name="password" placeholder="Password" required="">
                <button type="submit">Login</button>
                <a style="text-align: center;  display: flex; justify-content: center;" href="/User/CambiarPassword">Olvide mi contraseña</a>
            }

        </div>
    </div>
</body>

</html>